@import "config"; // Import WITHOUT _ !!
@import "menu";
// We import the media query's at the bottom. We want them to run after all the css has been ran.

// ALL Items
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  @include backgorund;
  //background: $primary-color;
  //min-height: calc(100vh-60px);
  //position: relative;
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: set-text-color(
    $primary-color
  ); // Functions are global and theres no need to @include the file
  line-height: 1.5;
}
// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    // h1.lg-heading.    h1.lg-heading will result in lg-heading nested in h1
    font-size: 6rem;
    // rem = multiplier of the normal font size of the item 6rem=6*fontsize
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(
      lighten($primary-color, 2),
      0.5
    ); // lighten the sm-heading by 2. make the background with 0.5 opacity
  }
}
// All links
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed; // We want the header to allways be at the top, even if we need to scroll
  z-index: 2; // z-index is a parameter to detemine visual hirerchy (most back, after that, most front)
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}
main {
  padding: 4rem; // deleted: height: 100%; 100% means it will be 100% of height of the content inside it. NOT the whole page
  min-height: calc(
    100vh
  ); // 60 px is the height of the footer. this way we make sure it will allways be at the bottom
  background: rgba(lighten($primary-color, 2), 0.5);
  .icons {
    // Nesting - icon classes inside main
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        // on hover on links of icon classes in main tag
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home,
  &#contact {
    ::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }
    overflow: hidden; // We dont want scroll bars on the homepage
    h1 {
      margin-top: 20vh; // Vh is viewport height  // Theres 100 "Vh" in a screen
    }
  }
}

// About page aligning with grid-css
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:   // Like a visual representation of what i want to dispaly: bio image is 1/3 of line, bio is 2/3. each job is 1/3 of line
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); // Or 1fr 1fr 1fr
  .bio-img {
    grid-area: bioimage;
    // Should be the same as defined in grid-template-areas
    margin: auto;
    border-radius: 50%; // Rounded
    border: $secondary-color 3px solid;
  }
  .bio {
    display: block;
    box-shadow: 0px 0px 100px 1px rgba(darken($primary-color, 5), 0.4); /* change to alter the effect*/
    background: rgba($primary-color, 0.1);
    grid-area: bio;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    background: rgba(darken($primary-color, 5), 0.9);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    // border-left: #000 1px groove;
    // border-right: #000 1px solid;
    // border-top: #000 1px solid;
    //border: 2px solid $secondary-color;
  }
}
// Work/Projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  img {
    width: 100%;
    border: 3px #fff solid;
    &:hover {
      border-color: $secondary-color;
      opacity: 0.95;
    }
  }
}
// Contact page
.boxes {
  display: flex;
  flex-wrap: wrap; // If they dont fit on the same page- they will automaticly go to the next line
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    background: rgba(darken($primary-color, 5), 0.6);
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem; // 1.5 on top&bottom, 2.5 on left&right
    margin-bottom: 3rem;
    @include easeOut;
    &:hover {
      cursor: pointer;
      padding: 1rem 2rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}
// Technologies over images
.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  font-size: 3rem;
  color: $secondary-color;
  position: absolute;
  padding: 0.5rem 0.5rem;
  align-items: center;
  div {
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem; // 1.5 on top&bottom, 2.5 on left&right
    margin-bottom: 3rem;
  }
}

// Button styles
.btn {
  // Basic button styles
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}
.btn-dark {
  @extend .btn; // Extending the button class. Gets all of its properties
  background: darken($primary-color, 50);
  color: #fff;
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}
// Footer
#main-footer {
  text-align: center;
  padding: 1rem;
  //background: darken($primary-color, 10);
  background: #000;
  color: set-text-color(#000);
  height: 60px;
  border-top: 0.15rem solid $secondary-color;
  bottom: 0;
}

.contact-footer {
  border-bottom: 0.15rem solid $secondary-color;
}
@import "mobile";
